Introduction to DevOps- CI_CD Pipeline Assignment - 2 Version 1.0.docx
DevOps Assignment 2 on Taxila/ACEest_Fitness-V1.1.py
DevOps Assignment 2 on Taxila/ACEest_Fitness-V1.2.1.py
DevOps Assignment 2 on Taxila/ACEest_Fitness-V1.2.2.py
DevOps Assignment 2 on Taxila/ACEest_Fitness-V1.2.3.py
DevOps Assignment 2 on Taxila/ACEest_Fitness-V1.2.py
DevOps Assignment 2 on Taxila/ACEest_Fitness-V1.3.py
DevOps Assignment 2 on Taxila/ACEest_Fitness.py
jenkins.war
